<div class="col-md-4 card">
 <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
    <div class="panel panel-default">

      {% if post.img %}
      <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
      {% else %}
      <img width="100%" src="{{site.baseurl}}/images/escola-oriental.png" alt="{{site.title}}">
      {% endif %}

      <div class="panel-body">
        <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
      </div>

      <div class="panel-body"><small>
        <!--{{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}-->
        {{ post.excerpt | strip_html | truncate: 180 }}
                </small>
      </div>
    </div>
    </a>
</div>
