
    .imgcenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      #width: 90%;
    }

    .imgcenter-h150 {
      max-height: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
